.wrapper {
    background-color: #f5f5f5;
    background-image: url("../../assets/image/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.Board {
  max-width: 1480px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  color: #fff;
}

.search {
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 252, .3);
  min-width: 471px;
  padding: 2px 10px;
}

.input {
  appearance: none;
  border: none;
  background: none;
  font: inherit;
  outline: none;
  color: #fff;
}

.input::placeholder {
  color: #fff;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
}

.tabWrapper {
  background-color: rgba(255, 255, 252, .3);
  min-height: 42px;
  min-width: 253px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px 12px;
  border-radius: 15px;
  cursor: pointer;
}

.tab {
  color: #FFFFFC;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 12px;
  width: 100%;
  flex: 1;
}

.tabActive {
  background-color: #fff;
  color: #000;
}

.tabCounter {
  width: 20px;
  height: 20px;
  background-color: #E6E6E6;
  border-radius: 50%;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.column {
  background-color: rgba(255, 255, 252, .3);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}

.card {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.cardContent {
  background-color: #E6E6E6;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cardTitle {
  font-size: 20px;
  font-weight: 400;
}

.cardSubtitle {
  font-size: 18px;
  font-weight: 500;
}

.cardDesc {
  color: #6F6F6F;
  font-size: 14px;
}

.cardSecondContent {
  background-color: #F8F8F8;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
}

.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #000;
}

.circleLime {
  background-color: #BBED21;
}

.circleGreen {
  background-color: #068D34;
}

.circleErin {
  background-color: #0FF85E;
}

.circleBlue {
  background-color: #13EDFB;
}