@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}


.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-5 {
    gap: 5px;
}

.text-black {
    color: #000;
}

.text-sm {
    font-size: 14px;
}